# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app



build/
bin/
lib/
Thirdparty/glog/
CMakeLists.txt.user

Examples/Demo/output/
Examples/Demo/RealSenseD435i
Examples/Demo/data/PKUSZ_RealSenseD435i_sequence/sequence_1
Examples/Demo/data/PKUSZ_RealSenseD435i_sequence/SuperPoints

Examples/ROS/ROS_Demo_Feature_Tracking/build/
Examples/ROS/ROS_Demo_Feature_Tracking/bin/
Examples/ROS/ROS_Demo_Feature_Tracking/lib/
Examples/ROS/ROS_Demo_Feature_Tracking/output/
Examples/ROS/ROS_Demo_Feature_Tracking/CMakeLists.txt.user

Examples/ROS/ROS_Demo_Feature_Tracking/data/SuperGluePretrainedNetwork/detected_points/MH_01_easy
Examples/ROS/ROS_Demo_Feature_Tracking/data/SuperGluePretrainedNetwork/detected_points/MH_02_easy
Examples/ROS/ROS_Demo_Feature_Tracking/data/SuperGluePretrainedNetwork/detected_points/MH_03_medium
Examples/ROS/ROS_Demo_Feature_Tracking/data/SuperGluePretrainedNetwork/detected_points/MH_04_difficult
Examples/ROS/ROS_Demo_Feature_Tracking/data/SuperGluePretrainedNetwork/detected_points/MH_05_difficult
Examples/ROS/ROS_Demo_Feature_Tracking/data/SuperGluePretrainedNetwork/detected_points/V1_01_easy
Examples/ROS/ROS_Demo_Feature_Tracking/data/SuperGluePretrainedNetwork/detected_points/V1_02_medium
Examples/ROS/ROS_Demo_Feature_Tracking/data/SuperGluePretrainedNetwork/detected_points/V1_03_difficult
Examples/ROS/ROS_Demo_Feature_Tracking/data/SuperGluePretrainedNetwork/detected_points/V2_01_easy
Examples/ROS/ROS_Demo_Feature_Tracking/data/SuperGluePretrainedNetwork/detected_points/V2_02_medium
Examples/ROS/ROS_Demo_Feature_Tracking/data/SuperGluePretrainedNetwork/detected_points/V2_03_difficult

