# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/
bin/
lib/
Thirdparty/glog/
Examples/ROS/ROS_Demo_Feature_Tracking/build/
Examples/ROS/ROS_Demo_Feature_Tracking/bin/
Examples/ROS/ROS_Demo_Feature_Tracking/lib/
Examples/ROS/ROS_Demo_Feature_Tracking/output/

